/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

/*modifications*/
.bjqs-prev a,
.bjqs-next a {
    padding:20px;	   	
	background: rgba(0, 0, 0, 0.72);	
	width: 25px;
	height: 25px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;	
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}
.bjqs-prev a {
	background-image:url('../../images/1361395427_arrow_left.png');
	background-repeat:no-repeat;
}
.bjqs-next a {
	background-image:url('../../images/1361395474_arrow_right.png');
	background-repeat:no-repeat;
}
.bjqs-markers a { 
	background: rgba(0, 0, 0, 0.72);	
	width: 50px;
	height: 50px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;	
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}
.bjqs-next a:hover{
	background: rgba(0, 0, 190, .40);
	background-image:url('../../images/1361395474_arrow_right.png');
	background-repeat:no-repeat;

}
.bjqs-prev a:hover {
	background: rgba(0, 0, 190, .40);
	background-image:url('../../images/1361395427_arrow_left.png');
	background-repeat:no-repeat;
}



.bjqs-markers a:hover {
	background: rgba(0, 0, 190, .40);
}


